<div id="<%= dom_id peep %>">
  <p>
    <strong>Firstname:</strong>
    <%= peep.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= peep.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= peep.email %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= peep.slug %>
  </p>

</div>
